<div class="password-input-wrapper">
  <label *ngIf="label" class="password-input__label">
    {{ label }}
    <span *ngIf="required" class="password-input__required">*</span>
  </label>
  
  <div [class]="inputClasses">
    <span class="password-input__prefix">
      <i class="fas fa-lock"></i>
    </span>
    
    <input
      [type]="showPassword ? 'text' : 'password'"
      [value]="value"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [readonly]="readonly"
      (input)="onInputChange($event)"
      (blur)="onInputBlur($event)"
      (focus)="onInputFocus($event)"
      class="password-input__field">
    
    <button
      type="button"
      class="password-input__toggle"
      (click)="togglePasswordVisibility()"
      [disabled]="disabled"
      tabindex="-1">
      <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
    </button>
  </div>
  
  <div *ngIf="showStrengthIndicator && value" class="password-input__strength">
    <div class="password-input__strength-bar">
      <div
        class="password-input__strength-fill"
        [style.width.%]="passwordStrength"
        [style.background-color]="strengthColor">
      </div>
    </div>
    <span class="password-input__strength-label">{{ strengthLabel }}</span>
  </div>
  
  <div *ngIf="helperText && validationState !== 'invalid'" class="password-input__helper">
    {{ helperText }}
  </div>
  
  <div *ngIf="validationState === 'invalid' && errorMessage" class="password-input__error">
    {{ errorMessage }}
  </div>
</div>
